
.navbar{
    font-size: 0.85rem;
    line-height: 1.5rem;
    box-shadow: 0 0.1rem 0.1rem -0.1rem rgb(219, 219, 219);
    color:#0B2E33;
    background-color: transparent;
    align-items: center;
  }
  .container-fluid{
    margin: 0 5rem;
    justify-content:space-between;
  }
  .nav-link{
    font-weight: 500 ;
    color:#0B2E33;
    margin: 0 0.8rem;
  }
  .nav-link:hover{
    color:#E10834;
    /* transition: 0.3s ease-in-out;  */
    border-bottom: 2px solid #E10834;
    padding-bottom: 0.3rem;
  }
  .nav-link.active{
    color:#E10834;
    border-bottom: 2px solid #E10834;
    padding-bottom: 0.3rem;
  }
  .navbar-brand{
  text-decoration: none;
  color:#E10834 ;
  }
  .navbar-toggler{
    color: #E10834;
    font-size: 1.5rem;
  }
  .nav-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-icons a{
    font-size: 1.1rem;
    color:#E10834;
    padding:0 0.7rem;
  }
  /* .nav-icons a:hover{
    color:#E10834;
  } */
.header-logo{
    width:8rem;
}

@media(max-width:576px){
    .container-fluid{
        margin: 0 2rem;
        justify-content:space-between;
      }
}